<!DOCTYPE html>
<html lang="pt"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="'layout/LayoutSimples'">
<body>
	<th:block layout:fragment="conteudo">
		<div class="aw-error-panel">
			<h1 class="aw-error-panel__code">
				<i class="fa  fa-location-arrow">500</i>
			</h1>
			
			<h2 class="aw-error-panel__title">Erro inesperado</h2>
			
			<div class="aw-error-panel__description">
				Desculpe, aconteceu um erro inesperado. Tente novamente em alguns segundos ou comunique-nos.
				<br/><br/>
				<a href="javascript:history.back()" class="btn  btn-primary">Voltar para onde estava</a>
			</div>
		</div>
	</th:block>
</body>
</html>