<!DOCTYPE html>
<html lang="pt"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="'layout/LayoutPadrao'">
<head>
	<title>Cadastro de cliente</title>
</head>
<body>

<section layout:fragment="conteudo">
	<div class="page-header">
		<div class="container-fluid">
			<h1>
				Cadastro de Cliente
			</h1>	
		</div>
	</div>
	<div class="container-fluid">
		<form class="form-vertical">
			<div class="form-group">
				<label for="nome">Nome</label>
				<input id="nome" class="form-control"/>
			</div>
			<div class="row">
				<div class="form-group col-sm-4">
					<div>
						<label>Tipo pessoa</label>
					</div>
					<th:block th:each="tipoPessoa : ${tiposPessoa}">
						<div class="radio radio-inline">
							<input th:id="|id_${tipoPessoa}|" type="radio" class="js-radio-tipo-pessoa" name="tipoPessoa" 
								th:data-documento="${tipoPessoa.documento}" th:data-mascara="${tipoPessoa.mascara}"/>
							<label th:for="|id_${tipoPessoa}|" class="control-label" th:text="${tipoPessoa.descricao}"></label>
						</div>
					</th:block>
				</div>
				<div class="form-group col-sm-8">
					<label for="cpfCnpj">CPF/CNPJ</label>
					<input id="cpfCnpj" class="form-control" disabled/>
				</div>
			</div>
			<div class="row">
				<div class="form-group col-sm-4">
					<label for="telefone">Telefone</label>
					<input id="telefone" class="form-control js-phone-number"/>
				</div>
				<div class="form-group col-sm-8">
					<label for="email">E-mail</label>
					<input id="email" class="form-control"/>
				</div>
			</div>
			<div class="row">
				<div class="form-group col-sm-4">
					<label for="logadouro">Logadouro</label>
					<input id="logadouro" class="form-control"/>
				</div>			
				<div class="form-group col-sm-4">
					<label for="numero">Número</label>
					<input id="numero" class="form-control"/>
				</div>			
				<div class="form-group col-sm-4">
					<label for="complemento">Complemento</label>
					<input id="complemento" class="form-control"/>
				</div>			
			</div>
			<div class="row">
				<div class="form-group col-sm-4">
					<label for="cep">CEP</label>
					<input id="cep" class="form-control"/>
				</div>			
				<div class="form-group col-sm-4">
					<label for="estado">Estado</label>
					<select id="estado" class="form-control">
						<option>Selecione o estado</option>
					</select>
				</div>			
				<div class="form-group col-sm-4">
					<label for="cidade">Cidade</label>
					<select id="cidade" class="form-control">
						<option>Selecione a cidade</option>
					</select>
				</div>			
			</div>
			<div class="form-group">
				<button class="btn  btn-primary" type="submit">Salvar</button>
			</div>
		</form>
	</div>
</section>
<th:block layout:fragment="javascript-extra">
	<script th:src="@{/javascripts/cliente.mascara-cpf-cnpj.js}"></script>
</th:block>
</body>
</html>
